.title text {
    font-family: serif;
    font-weight: bold;
    font-style: oblique;
    stroke: red;
    stroke-width: 2px;
    fill: yellow;
    dominant-baseline: middle;
    text-shadow: 0 0 2px red;
}