<!DOCTYPE html>
<html>

  <head>
    <meta charset='utf-8' />
    <meta http-equiv="X-UA-Compatible" content="chrome=1" />
    <meta name="description" content="VIKAASA" />

    <link rel="stylesheet" type="text/css" media="screen" href="{{ site.baseurl }}/stylesheets/stylesheet.css">

    <title>{{ page.title }} - VIKAASA</title>
  </head>

  <body>

    <!-- HEADER -->
    <div id="header_wrap" class="outer">
      <header class="inner">
        <a href="https://github.com/socsol/vikaasa">View on GitHub</a>

        <div>
          <svg class="title" height="43">
            <filter id="dropshadow" height="130%">
              <feGaussianBlur in="SourceAlpha" stdDeviation="3"/>
              <feOffset dx="2" dy="2" result="offsetblur"/>
              <feMerge> 
                <feMergeNode/>
                <feMergeNode in="SourceGraphic"/>
                </feMerge>
            </filter>
            <text x="0" y="20" style="font-size: 40px; filter: url(#dropshadow);">VIKAASA</text>
          </svg>
        </div>
      </header>
    </div>

    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">
        {{ content }}
      </section>
    </div>

    <!-- FOOTER  -->
    <div id="footer_wrap" class="outer">
      <footer class="inner">
        <p class="copyright">VIKAASA maintained by Jacek B. Krawczyk and Alastair S. Pharo.</p>
        <p><a href="http://www.vuw.ac.nz/">VUW</a> support for creation and maintenance acknowledged.</p>
      </footer>
    </div>
  </body>
</html>
