<!DOCTYPE html>
<html>

  <head>
    <meta charset='utf-8' />
    <meta http-equiv="X-UA-Compatible" content="chrome=1" />
    <meta name="description" content="VIKAASA is an application for undertaking analysis of viability kernels in MATLAB" />

    <link rel="stylesheet" type="text/css" media="screen" href="{{ site.baseurl }}/css/screen.css">

    <meta name="msvalidate.01" content="538F77C2C714F749F3CD16AFE823EA9E" />
    <meta name="google-site-verification" content="QSjQ6QjckZtqjSlXYHdla59QHsTpfUP0mfwa6xSu-YE" />

    <title>VIKAASA: Viability Kernel Approximation, Analysis and Simulation Application</title>
  </head>

  <body>

    <!-- HEADER -->
    <div id="header_wrap" class="outer">
      <header class="inner">
        <h1>
          <svg class="title" height="100" width="100%">
            <title>VIKAASA</title>
            <filter id="dropshadow" height="130%">
              <feGaussianBlur in="SourceAlpha" stdDeviation="3"/>
              <feOffset dx="2" dy="2" result="offsetblur"/>
              <feMerge>
                <feMergeNode/>
                <feMergeNode in="SourceGraphic"/>
                </feMerge>
            </filter>
            <text x="0" y="50" style="font-size: 80px; filter: url(#dropshadow);">VIKAASA</text>
          </svg>
        </h1>
      </header>
      <div class="view-in-github"> 
        <a href="https://github.com/socsol/vikaasa">View in GitHub</a>
      </div>
    </div>

    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">
        {{ content }}
      </section>
    </div>

    <!-- FOOTER  -->
    <div id="footer_wrap" class="outer">
      <footer class="inner">
        <hr/>
        <p class="copyright">VIKAASA maintained by Jacek B. Krawczyk and Alastair S. Pharo.</p>
        <p><a href="http://www.vuw.ac.nz/">VUW</a> support for creation and maintenance acknowledged.</p>
      </footer>
    </div>
  </body>
</html>
